
<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <a class="media-left">
      <%= gravatar_for @user %>
      </a>
      <div class="media-body">
        <h4 class="media-heading"><%= @user.name %></h4>
        <%= @user.description %><br>
        <%= @user.location %>
      </div>
    </div>
  </div>
</div>


        <%= link_to "edit" , edit_user_path(@user) %>